@use '../../Style/globalType/function' as function;
@use '../../Style/abtracts/mixins' as mixin;

$paddingGap: 10px;
.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  color: var(--color-text-grey);
  padding: $paddingGap 0px;
  gap: $paddingGap;
  .search {
    @include function.panel;
    width: 100%;
    input {
      width: 100%;
    }
    background: var(--color-background-primary);
    color: var(--color-text-grey);
    padding: 12px 25px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .prediction {
    .predictionTitle {
    }
    .predictionContent {
      display: flex;
      flex-direction: column;
      gap: $paddingGap;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: $paddingGap;
  }
  @include mixin.md {
    padding: 0px $paddingGap;
  }
}
