@use '../../Style/globalType/function' as function;
@import './variables.scss';

@mixin title {
  a {
    color: var(--color-text-grey);
    font-weight: bold;
  }
}

@mixin container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $space;
  padding: $space $space;
}
@mixin title {
  padding: 20px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  a{
    font-size: 22px;
    cursor: pointer;
  }
  p {
    font-weight: bold;
    font-size: 23px;
  }
}
