@use '../../../Style/abtracts/variables' as variable;
@use '../../../Style/globalType/function' as function;
.container {
  flex: 1;
  flex-shrink: 0;
  padding: variable.$paddingGap;
  .panel {
    @include function.panel;
    padding: variable.$paddingGap;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: variable.$paddingGap;
    .button {
      width: 100%;
      @include function.button;
      background: var(--color-background-primary);
      border: 2px solid var(--color-border);
      color: var(--color-text-primary);
      &:hover {
        border: 2px solid var(--color-active-primary);
      }
    }
    .active {
      border: unset;
      color: var(--color-text-secondary);
      background: var(--color-button-secondary);
      &:hover {
        border: unset;
      }
    }
  }
}
