@use '../../Style/abtracts/mixins' as mixin;
@import './variables.scss';

.container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: $paddingGap;
  color: var(--color-text-primary);
  @include mixin.md {
    flex-direction: column;
    gap: 0px;
  }
}
