$imageSize: 40px;
$minWidth: 200px;

.typeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.itemWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: $imageSize;
  width: $minWidth;
  img {
    width: $imageSize;
    height: $imageSize;
    margin: 0px 0px 0px 5px;
  }
}
