@use '../../Style/globalType/function' as function;
.container {
  display: flex;
  width: 100%;
  gap: 15px;
  margin: 2px 0px;
  .commentIcon {
    width: 50px;
    height: 50px;
    display: flex;
  }
  .commentText {
    @include function.inputStyle;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding: unset;
    border: unset;
    outline: unset;
    background-color: var(--color-background-primary);
    .showCommentWrapper {
      @include function.panel;
      width: 100%;
      padding: 5px 10px;
      color: var(--color-text-grey);
      .commentName {
        color: var(--color-text-primary);
        font-weight: bold;
        font-size: 12px;
      }
      background: var(--color-background-comment-primary);
    }
    .commentTool {
      display: flex;
      align-items: center;
      margin: 5px 10px;
      .commentLike {
        background: var(--color-text-grey);
        cursor: pointer;
        display: flex;
        align-items: flex-end;
        i {
          font-size: 14px;
        }
        a {
          margin: 0px 0px 0px 4px;
          font-size: 13px;
          line-height: 13px;
        }
        @include function.textGradient;
      }
    }
  }
}
