$headerHeight: 48px;
$borderStyle: 1px solid var(--color-customcv-border-primary);
$borderStyleActive: 1px solid var(--color-customcv-border-secondary);
$tabTitle: 40px;
$borderStyleLarger: 2px solid var(--color-customcv-border-primary);
$borderStyleLargerActive: 2px solid var(--color-customcv-border-secondary);
