@use '../../../../Style/globalType/function' as function;
@import '../../variables.scss';
.container {
  @include function.panel;
  padding: 10px 15px;
  .title {
    @include function.panelTitle;
    padding: 5px 10px;
  }
  .item {
    @include function.button;
    margin: 7px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

    label {
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: capitalize;
    }
    i {
      font-size: 1rem;
      width: 15px;
    }
  }
}
