@use '../../../Style/abtracts/variables' as variable;
$paddingGap: 20px;
$paddingCV: 30px;
.cv {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  justify-content: space-between;
  color: var(--color-text-grey);
  background: var(--color-background-primary);
  align-content: stretch;
  .left {
    padding: $paddingCV;
    flex: 1.1;
    .top {
      width: 100%;
      .promotion {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: light;
      }
      .name {
        text-transform: uppercase;
        color: var(--color-text-primary);
        font-size: 2rem;
        font-weight: 500;
      }
    }

    .mainLeft {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      gap: $paddingGap;
    }
  }
  .right {
    flex-shrink: 0;
    flex: 1;
    color: var(--color-text-secondary);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: $paddingGap;
    background: linear-gradient(to bottom, #004169, #001f2f);

    .rightInfo {
      display: flex;
      flex-direction: column;
    }
  }
}
