@use '../../../../Style/globalType/function' as function;
.container {
  width: 100%;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
  gap: 5px;
  background: inherit;
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid var(--color-border);
  box-shadow: var(--box-shadow-secondary);
  cursor: pointer;
  .left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    .icon {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
      }
    }
    .text {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-content: center;
      .name {
        width: 100%;
        color: var(--color-text-primary);
        font-size: 0.9rem;
        font-weight: 500;
      }
      .message {
        @include function.truncate;
        width: 100%;
        font-size: 0.75rem;
        font-weight: 400;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .time {
      font-size: 0.7rem;
      font-weight: bold;
    }
    .count {
      font-size: 0.6rem;
      width: 20px;
      aspect-ratio: 1/1;
      flex-shrink: 0;
      background: var(--color-button-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      font-weight: bold;
      color: var(--color-text-secondary);
    }
  }
  &:hover {
    background: var(--color-hover-primary);
  }
}

.active {
  background: var(--color-button-secondary);
  color: invert($color: #000000);

  .left {
    .text {
      .name {
        color: invert($color: #000000);
      }
    }
  }
}

.active {
  background: var(--color-button-secondary);
  &:hover {
    background: var(--color-button-secondary);
  }
}
