@use '../../Style/globalType/function' as function;
@mixin button {
  border-radius: 8px;
  padding: 7px 13px;
  font-size: 15px;
  font-weight: 500;
}

@mixin group {
  padding: 20px 10px;
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--color-border);
  width: 100%;

  label {
    flex-shrink: 0;
    width: 10%;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
  }

  input {
    @include function.inputStyle;
    width: 100%;
    background: rgba(255, 236, 250, 0.613);
    &:disabled {
      background: var(--color-background-primary);
    }
    
  }
  button {
    @include function.buttonRound;
  }
  p {
    @include function.errorInput;
  }
}
