@use '../../../Style/globalType/function' as function;
@import '../variables.scss';
.personalWrapper {
  margin: 20px 0px;
  background: var(--color-background-primary);
  border-radius: $borderRadius;
  .title {
    @include title;
  }
  .personal {
    width: 100%;
    display: flex;
    flex-direction: column;
    .itemWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;

      .item {
        display: flex;
        gap: 15px;
        align-items: center;
        label {
          text-transform: capitalize;
          width: 150px;
        }
        a {
          font-weight: 450;
        }
        .iconWrapper {
          @include function.buttonRound;
          background: var(--color-button-primary);
          i {
            font-size: 20px;
            color: var(--color-text-secondary);
          }
        }
      }
      .tool {
        @include function.buttonRound;
        gap: 15px;
        background: var(--color-hover-primary);

        i {
          cursor: pointer;
        }
      }
      &:last-child {
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
      }
    }
  }
}
