@use '../../../Style/globalType/function' as function;
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--color-background-primary);
  color: var(--color-text-grey);
  padding: 5px 20px;
  .item {
    margin: 0px 0px;
    padding: 10px 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    i {
      @include function.textGradient;
      font-size: 30px;
      width: 40px;
      flex-shrink: 0;
      text-align: center;
    }
    p {
      font-size: 18px;
      flex: 1;
    }
    &:nth-child(3n + 1) {
      i {
        background: var(--color-button-tertiary);
      }
    }
    &:nth-child(3n + 2) {
      i {
        background: var(--color-button-primary);
      }
    }
    &:nth-child(3n + 3) {
      i {
        background: var(--color-button-secondary);
      }
    }
    &:last-child {
      border-top: 1px solid var(--color-border);
      i {
        font-size: 25px;
      }
    }
  }
}

.delayHide {
  display: none 5s;
}
.hide {
  display: none;
}
.show{
  display: flex;
}
.notDelayHide {
  // display: none;
}
