.languageButton {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0px 10px 0px 0px;
    flex-shrink: 0;
  }
  .buttonSelect {
    flex: 1;
    text-align: left;
  }
}

.ulLanguage {
  padding: 3px 7px;
  .languageButton {
    &:first-child {
      padding-bottom: 5px;
    }
    &:not(:first-child) {
      padding-top: 5px;
      border-top: 1px solid rgb(154, 154, 154);
    }
  }
}
