$width: 350px;
.container {
  position: relative;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  // height: 100%;
  // margin: 60px 0px 0px 0px;
  // top: 0px;
  // left: 0;
  // bottom: 0;
  width: $width;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-shadow: 7px 0 60px rgb(0 0 0 / 5%);
  ul {
    margin: 10px 20px;
    // white-space: nowrap;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // transition: all 0.5s ease-in-out;
    // width: 100%;
    .menuItem {
      height: 40px;
      transition: all 0.5s ease-in-out;
      width: 100%;
      // padding: 10px 20px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      background: #e0f3ff;
      cursor: pointer;

      -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 40px 40px var(--color-button-secondary) inset;
      }
      .text {
        margin: 1px 20px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden 
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    .active {
      background: var(--color-button-primary) !important;
      color: var(--color-text-secondary);
    }
  }
}

.close {
  width: 0px;
  transform: all 0.3s linear;
  ul {
    .menuItem {
      width: 0px;
      animation: menuclose 1s linear;

      // .text {
      //   width: 0px;
      //   visibility: hidden;
      //   position: absolute;
      //   animation: textclose 0.3s ease-in-out;
      // }
    }
  }
}

@keyframes menuclose {
  from {
    width: 100%;
    visibility: visible;
  }
  to {
    width: 0px;
    visibility: hidden;
  }
}
