@use '../../../Style/globalType/function' as function;
@use '../../../Style/abtracts/mixins' as mixin;
$space: 20px;
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: $space;
  min-width: 230px;
  max-width: 300px;
  border-radius: 15px;
  color: var(--color-text-secondary);
  cursor: default;
  .categoryIconWrapper {
    padding: 10px;
    margin: $space 0px 0px 0px;
    background: #69afeb94;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    i {
      font-size: 30px;
      color: var(--color-text-secondary);
    }
  }
  .title {
    font-weight: bold;
    font-size: 25px;
  }
  .content {
    p {
    }
  }
  .result {
    margin: 0px 0px $space 0px;
    padding: 5px 10px;
    border-radius: 7px;

    background-color: var(--color-background-primary);
    a {
      @include function.textGradient;
      font-weight: bold;
    }
  }
  &:nth-child(1) {
    background: var(--color-button-quaternary);
    .result {
      a {
        background: var(--color-button-quaternary);
      }
    }
  }
  &:nth-child(2) {
    background: var(--color-button-secondary);
    .result {
      a {
        background: var(--color-button-secondary);
      }
    }
  }
  &:nth-child(3) {
    background: var(--color-button-tertiary);
    .result {
      a {
        background: var(--color-button-tertiary);
      }
    }
  }
  &:nth-child(4) {
    background: var(--color-button-primary);
    .result {
      a {
        background: var(--color-button-primary);
      }
    }
  }
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: translateY(-25px);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.5s ease-in-out;
  }
  @include mixin.sm {
    margin: 10px 0px;
  }
}
