@import '../../variable.scss';
.container {
  height: 100%;
  aspect-ratio: 1/1;
  color: var(--color-text-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .icon {
    color: var(--color-text-secondary);
    font-size: 25px;
    // transform-origin: 0 0;
    transition: transform 0.3s ease-in-out, visibility 0.25s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }
}
.active {
  background: var (--color-customcv-header-active);
  color: var(--color-text-primary);
}
