@use '../../../../Style/globalType/function' as function;
@use '../../mixins.scss' as mixin;
.container {
  @include mixin.container;
  .boxTitle {
    @include mixin.title;
  }
  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    .iconTextWrapper {
      display: flex;
      gap: 7px;
      img {
        width: 30px;
        height: 30px;
      }
      .textWrapper {
        display: flex;
        flex-direction: column;
        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          a {
            color: var(--color-text-primary);
            font-weight: bold;
            font-size: 15px;
          }
          .follow {
            color: var(--color-follow-primary);
            font-weight: bold;
            font-size: 13px;
            cursor: pointer;
          }
        }
        .content {
          font-size: 13px;
          white-space: wrap;
        }
      }
    }
    .moreInfo {
      i {
        @include function.textGradient;
        font-size: 20px;
        background: var(--color-button-tertiary);
      }
    }
  }
}
