@use '../../Style/abtracts/mixins' as mixin;
@use '../../Style/globalType/function' as function;

$headerHeight: 60px;
$borderActive: 3px solid var(--color-active-primary);
$marginOut: 30px;
$headerBoxShadow: 0 6px 11px rgb(64 68 77 / 10%);
$mobileWidth: 350px;
.container {
  height: $headerHeight;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  display: flex;
  color: var(--color-text-primary);
  justify-content: space-between;
  align-items: center;

  background: var(--theme-primary);
  box-shadow: $headerBoxShadow;
  transition: all 0.5s;
  .navLeft {
    flex: 1;
    margin: 0px 0px 0px $marginOut;
    height: 100%;
    display: flex;
    .logo {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    @include mixin.md {
      flex: unset;
    }
  }
  .navCenter {
    flex: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    @include mixin.md {
      display: none;
    }
    ul {
      height: 100%;
      align-items: center;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      .navItem {
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: column;
        width: 110px;
        cursor: pointer;
        &:hover {
          border-bottom: $borderActive;
          i {
            opacity: 0;
            transform: translate(0px);
            visibility: hidden;
            vertical-align: middle;
            transition: all 0.3s ease-in-out 0s;
            display: inline-block;
          }
          .name {
            transform: translateY(-5px);
            opacity: 1;
            transition: all 0.3s ease-in-out 0s;
          }
        }
        i {
          display: inline-block;
          font-size: 22px;
          transform: translateY(calc($headerHeight / 4) + 2px);
          transition: all 0.3s ease-in-out 0s;
        }
        .name {
          color: var(--color-text-primary);
          font-size: 18px;
          transition: all 0.3s ease-in-out 0s;
          white-space: nowrap;
          text-decoration: none;
          font-weight: 500;
          margin: 0;
          text-transform: capitalize;
          transform: translateY(calc($headerHeight / 2) + 10px);
          transition: all 0.3s ease-in-out 0s;
          opacity: 0;
        }
      }
    }
  }
  .navRight {
    margin: 0px $marginOut 0px 0px;
    flex: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    @include mixin.md {
      display: none;
    }
  }

  .navMobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(calc($mobileWidth - 2 * $mobileWidth - 10px));
    width: $mobileWidth;
    background-color: var(--color-background-primary);
    box-shadow: $headerBoxShadow;
    overflow: scroll;
    transition: all 0.5s ease-in-out;
    .textModileTitle {
      padding: 30px 50px 0px 50px;
      font-size: 13px;
      font-weight: bold;
    }
    ul {
      padding: 10px 30px;
      .navItem {
        display: flex;
        align-items: center;
        margin: 10px 0px;
        .icon {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          color: var(--color-text-secondary);
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: 22px;
          }
        }
        .name {
          text-transform: capitalize;
          margin: 0px 0px 0px 10px;
          font-weight: 550;
        }
        &:first-child {
          .icon {
            background: var(--color-button-primary);
          }
        }
        &:nth-child(2) {
          .icon {
            background: var(--color-button-secondary);
          }
        }
        &:nth-child(3) {
          .icon {
            background: var(--color-button-fourth);
          }
        }
      }
    }
  }
  .showMobile {
    @include mixin.md {
      transform: translateX(0px);
    }
  }
}

.toggleNavigation {
  color: var(--color-text-primary);
  cursor: pointer;
  font-size: 28px;
  line-height: 0;
  transition: 0.5s;
  display: none;
  position: absolute;
  right: 5vw;

  @include mixin.md {
    display: block;
  }
}

.buttonAccount {
  background: var(--color-button-tertiary);
  border-radius: 2.625rem;
  padding: 0.5rem 20px;
  align-items: center;
  font-size: 18px;
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.buttonItem {
  background: var(--color-border);
  border-radius: 100%;
  width: 34px;
  height: 34px;
  align-items: center;
  font-size: 18px;
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  i {
    @include function.textGradient;
    background: var(--color-button-secondary);
  }
}
.account {
  background: var(--color-button-tertiary);
  border: unset;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  img {
    width: 100%;
    height: 100%;
    color: var(--color-text-secondary);
    background: var(--color-background-primary);
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

.active {
  border-bottom: $borderActive;
  color: var(--color-active-primary);
  i {
    color: var(--color-active-primary);
  }
  .name {
    color: var(--color-active-primary) !important;
  }
}
