.index {
  position: relative;
}
.board {
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  background-color: var(--color-background-primary);
  overflow-x: hidden;
  .drawChild {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
  }
}
.draggableBox {
  &:hover {
    outline: 2px outset #97c9e4;
  }
}

.active {
  outline: 2px outset #39a1db;
  &:hover {
    outline: 2px outset #39a1db;
  }
}
.canNotHover {
  &:hover {
    outline: unset;
  }
}
.componentText {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 0em;
  justify-content: center;
  align-items: center;
  .text {
    width: 100%;
  }
}
.componentImage {
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.componentIcon {
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boardPreview {
  position: fixed;
  pointer-events: none;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.hover {
  outline: 2px solid #70b5db;
}
