@mixin paperBlank {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 6px 1px rgba(186, 184, 184, 0.755);
}
@mixin truncate($width: 100%) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin disableselect() {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@mixin borderBox() {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

@mixin inputStyle {
  padding: 5px 10px;
  border-radius: 8px;
  width: 100%;
  outline: 1px solid var(--color-border);
  background: var(--color-input-primary);
  &::-webkit-scrollbar {
    display: none;
  }

  &:focus {
    outline: 1px solid var(--color-active-secondary);
  }
  &:disabled {
    cursor: default;
    background: rgb(206, 205, 205);
  }
}

@mixin button {
  background: var(--color-button-tertiary);
  border-radius: 2.625rem;
  padding: 0.5rem 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--color-text-secondary);
}

@mixin panel {
  background: var(--color-background-primary);
  border-radius: var(--border-radius-primary);
  color: var(--color-text-grey);
}
@mixin textGradient {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

@mixin panelTitle {
  padding: 10px 10px;
  font-size: 15px;
  a {
    color: var(--color-text-grey);
    font-weight: bold;
  }
}
@mixin checkboxRound {
  position: relative;
  margin: 4px 0px 0px 0px;
  input {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    &:checked {
      background-color: rgb(38, 217, 41);
    }
  }
}

@mixin errorInput {
  color: var(--color-error-primary);
  padding: 2px 10px;
  // min-height: 20px;
}

@mixin buttonRound {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: var(--color-hover-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  i {
    width: 100%;
    text-align: center;
  }
}
@mixin hideScrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin imageRound {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}
