@use '../../../../Style/globalType/function' as function;
@use '../../../../Style/globalType/internal' as internal;
@use "../../variables.scss" as variables;
@import '../../variables.scss';
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: variables.$space;
  .tool {
    .create {
      @include function.button;
      width: 150px;
    }
  }
  .tableWrapper {
    width: 100%;
    .panel {
      width: 100%;
      @include function.panel;
      border: 1px solid var(--color-border);
      color: var(--color-text-grey);

      table {
        width: 100%;

        tr {
          &:hover {
            &:not(:first-child) {
              cursor: pointer;
              background: var(--color-hover-primary);
            }
          }
          &:last-child {
            td {
              &:first-child {
                border-bottom-left-radius: 7px;
              }
              &:last-child {
                border-bottom-right-radius: 7px;
              }
            }
          }
          th {
            text-align: left;
            padding: 10px 20px;
            color: var(--color-text-primary);
          }
          td {
            padding: 5px 10px;
            .name {
              display: flex;
              align-items: center;
              gap: 10px;
              img {
                width: 70px;
                aspect-ratio: 1/1;
                object-fit: cover;

                border-radius: 100%;
              }
              p {
                font-size: 16px;
                font-weight: 500;
              }
            }

            .detail {
              display: flex;
              flex-direction: column;
              font-size: 14px;
              .recruit {
                font-size: 1.2em;
              }
              p {
                font-size: 1em;
              }
            }
            .iconWrapper {
              display: flex;
              gap: 10px;
              align-items: center;
              .icon {
                display: flex;
                .itemIcon {
                  width: 30px;
                  aspect-ratio: 1/1;
                  border-radius: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: 1px solid var(--color-text-secondary);
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                  &:not(:first-child) {
                    margin: 0px 0px 0px -10px;
                  }
                }

                .push {
                  background: #e9e9e9;
                }
              }
            }
            .quantity {
            }
          }

          &:not(:last-child) {
            border-bottom: 1px solid var(--color-border);
          }
        }
      }
    }
  }
}
