$resizeWidth: 5px;
.resizeable {
  position: absolute;
  .content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// .active {
//   border: 1px solid #009bff;
// }

.resizer {
  position: absolute;
  //   background: black;
  z-index: 55;
}

.resizerR {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: $resizeWidth;
}

.resizerT {
  cursor: row-resize;
  height: $resizeWidth;
  left: 0;
  top: 0;
  width: 100%;
}

.resizerB {
  cursor: row-resize;
  height: $resizeWidth;
  left: 0;
  bottom: 0;
  width: 100%;
}

.resizerL {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  background-color: red;
  width: $resizeWidth;
}
