@use '../../../Style/abtracts/mixins' as mixin;
@import '../variables.scss';

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px $paddingGap 10px 0px;
  gap: $paddingGap;
  position: relative;
  @include mixin.md {
    display: none;
  }
}
