$primary-color: #3f3d4b;
$secondary-color: #02b2c5;
$grey-color: #ccc;
$btn-color:#FF7510;
.container{
    width: 100%;
    height: 100vh;
    background-color: $primary-color;
    display: flex;
    justify-content:center;
    padding-top: 2%;
}

.containerContent{
    width: 60%;
    height: 80%;
    background-color: white;
    border-radius:15px;
  
}
.containerSection{
    padding:1rem 3rem;
    h2{
        font-size: 1.4rem;
        font-weight: bold;
        margin: 0.5rem 0 0 0.5rem;
    }
    p{
        text-align:justify;
        margin: 0.5rem 0 0 0.5rem;
    }
    button{
        margin: 0.75rem 0 0 0;
        padding: 0.5rem 2rem;
        background-color:$btn-color;
        color:white;
        border-radius:30px;
        -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        &:hover{
            cursor: pointer;
            box-shadow: 0 0 40px 40px $secondary-color inset;
        }

    }
}
.sectionFirst{
    display: flex;
    h1{
        margin: 1.5rem 0 0 1rem;
        font-size: 2.5rem;
        font-weight: bold;
    }
}
.sectionFirst__img{
    width: 18%;

}