@use '../../../../Style/globalType/function' as function;

.container {
  @include function.panel;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  color: var(--color-text-grey);
  padding: 10px 15px;
  .titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-weight: bold;
    }
    .seeMore {
      color: var(--color-active-primary);
      cursor: pointer;
    }
  }
  .calendarWrapper {
    @include function.panel;
    background: var(--color-calendar-primary);
    padding: 10px 10px;
  }
  .todoListWrapper {
    flex-direction: column;
    .item {
      display: flex;
      padding: 5px 0px;
      gap: 10px;
      .round {
        position: relative;
        margin: 4px 0px 0px 0px;
        input {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          vertical-align: middle;
          border: 2px solid #ddd;
          appearance: none;
          -webkit-appearance: none;
          outline: none;
          cursor: pointer;
          &:checked {
            background-color: rgb(38, 217, 41);
          }
        }
      }

      .group {
        flex: 1;
        display: flex;
        flex-direction: column;
        .name {
          font-weight: bold;
        }
        .statusDeadline {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
          }
          a {
            color: orange;
          }
        }
      }

      &:not(:first-child) {
        border-top: 1px solid var(--color-border);
      }
    }
  }
}
