@import '../variable.scss';
.container {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  width: $leftWidth;
  font-weight: 500;
  border-right: 1px solid var(--color-border);
  overflow-y: overlay;
  .title {
    padding: 20px 20px;
    font-size: 25px;
    color: var(--color-active-primary);
    font-weight: 500;
  }
  .tabContainer {
    border-top: 1px solid var(--color-border);
    .tableWrapper {
      padding: 5px 10px;
      .tabWrapper {
        margin: 5px;
        .tab {
          padding: 5px 0px;
          font-size: 17px;
          display: flex;
          align-items: center;
          gap: 15px;
          cursor: pointer;
          .active {
            height: 40px;
            width: 5px;
            background: var(--color-active-primary);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
          p {
          }
        }
      }
    }
  }
}
