@use "../../../../Style/globalType/function" as function;
.item {
  display: flex;
  gap: 5px;
  border-bottom: 1px solid var(--color-border);
  color: var(--color-text-grey);
  .time {
    width: 150px;
    padding: 10px 10px;
    flex-shrink: 0;
    border-right: 1px solid var(--color-border);
  }
  .content {
    flex: 1;
    margin: 5px 5px;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 500;
    outline: 2px solid var(--color-hover-primary);
    display: flex;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      gap: 20px;
      color: var(--color-text-secondary);
      .avatar {
        width: 60px;
        aspect-ratio: 1/1;
        flex-shrink: 0;
        border-radius: 100%;
        background: var(--color-background-primary);
        img {
          object-fit: cover;
          border-radius: 100%;
        }
      }
    }
    .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        i{
            color: var(--color-text-secondary);
            font-size: 20px;
            cursor: pointer;
        }
    }
  }
  &:nth-child(5n) {
    .content {
      background: var(--color-button-secondary);
    }
  }
  &:nth-child(5n + 1) {
    .content {
      background: var(--color-button-tertiary);
    }
  }
  &:nth-child(5n + 2) {
    .content {
      background: var(--color-button-heptant);
    }
  }
  &:nth-child(5n + 3) {
    .content {
      background: var(--color-button-penitentiary);
    }
  }
  &:nth-child(5n + 4) {
    .content {
      background: var(--color-button-hexatiary);
    }
  }
}
