@use '../../Style/abtracts/mixins' as mixin;

$blue-color: #3f6ad8;

.headerDashboard {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background: var(--theme-primary);
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);

  .headerLeft {
    padding: 0px 20px;
    flex-basis: 20%;
    display: flex;
    background: var(--header-height);
    justify-content: space-between;
    align-items: center;
    .logo {
      height: calc(var(--header-height));
    }
    .listIcon {
      height: calc(var(--header-height) - 20px);
    }
    width: 280px;
    @include mixin.lg {
    }
  }
  .headerRight {
    flex-basis: 20%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mixin.lg {
    }
    .tool {
      flex: 1;
      padding: 0px 20px;
      .toolUl {
        li.menu-item:not(:last-child) {
          margin-right: 3px;
        }
        .searchWrapper {
          display: flex;
          justify-content: space-between;
          width: 50px;
          transition: all 0.3s ease-in-out;
          .search {
            height: 50px;
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;
            border-radius: 50px;
            background: rgba(0, 0, 0, 0.05);
            transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
            .searchButton {
              height: 50px;
              width: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50px;
              background: rgba(0,0,0,.06);
            }
            .searchInput {
              width: 0px;
              transition: all 0.3s ease-in-out;
            }
          }
        }

        .active {
          width: 290px;
          transition: all 0.3s ease-in-out;
          .searchInput {
            margin: 0px 0px 0px 30px;
            width: 160px !important;
            // background: rgba(0, 0, 0, 0.05);
            transition: all 0.3s ease-in-out;
          }
          .closeButton {
            transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
            transition-delay: 0.5s;
            opacity: 0.6 !important;
            transform: rotate(90deg);
          }
        }
      }
    }
    .profile {
      // background: red;
      width: 280px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0px 20px;
      .iconWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 75px;
        .profileIcon {
          height: calc(var(--header-height) - 10px);
          border-radius: 100%;
        }
      }
      .nameWrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        .name {
          padding: 0px auto;
          font-size: 18px;
          font-weight: 600;
        }
        .description {
          padding: 0px auto;
          font-size: 15px;
          font-weight: 400;
          opacity: 0.6;
        }
      }
      .calendarProfile {
        box-shadow: 0 0.125rem 0.625rem rgb(63 106 216 / 40%),
          0 0.0625rem 0.125rem rgb(63 106 216 / 50%);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $blue-color;
        border-radius: 10%;
      }
    }
  }
}
