@use '../../../Style/abtracts/mixins' as mixin;
@import '../variables.scss';
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: $paddingGap 0px $paddingGap $paddingGap;
  gap: 10px;
  background: var(--color-theme-primary);

  .item {
    display: flex;
    align-items: center;
    margin: 0px 15px;
    padding: 15px 25px;
    border-radius: 13px;
    gap: 20px;
    background: var(--color-background-primary);
    color: var(--color-text-grey);
    box-shadow: var(--box-shadow-panel);
    cursor: pointer;
    i {
      font-size: 20px;
      font-weight: bold;
      width: 30px;
    }
    a {
      font-size: 15px;
      font-weight: bold;
    }
    &:hover {
      outline: 2px solid var(--color-active-primary);
      color: var(--color-active-primary);
    }
  }
  .active {
    background: var(--color-button-secondary);
    color: var(--color-text-secondary);

    &:hover {
      outline: unset;
      color: var(--color-text-secondary);
    }
  }
  @include mixin.md {
    flex-direction: row;
    padding: $paddingGap;
    flex-wrap: wrap;
    .item {
      padding: 10px 15px;

      border-radius: 10px;
      &:hover {
        color: var(--color-active-primary);
      }
    }
  }
}
