@use '../../../Style/abtracts/mixins' as mixin;
@import '../variables.scss';
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: $paddingGap 0px;
  gap: 5px;
  background: var(--color-theme-primary);

  .item {
    display: flex;
    align-items: center;
    padding: 13px 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 20px;
    background: var(--color-background-primary);
    color: var(--color-text-grey);
    box-shadow: var(--box-shadow-panel);
    border-left: 3px solid transparent;
    cursor: pointer;
    i {
      font-size: 20px;
      font-weight: bold;
      width: 30px;
    }
    a {
      font-size: 18px;
      font-weight: bold;
    }
    &:hover {
      border-left: 3px solid var(--color-active-primary);
      color: var(--color-active-primary);
    }
  }
  .active {
    border-left: 3px solid var(--color-active-primary);
    color: var(--color-active-primary);
  }
  @include mixin.md {
    flex-direction: row;
    padding: $paddingGap;
    flex-wrap: wrap;
    .item {
      padding: 10px 15px;

      border-left: unset;
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
      border-radius: 10px;
      &:hover {
        border-left: unset;
        color: var(--color-active-primary);
      }
    }
  }
}
