@use '../../Style/abtracts/mixins' as mixin;

%button {
  padding: 10px 20px;
  border-radius: 25px;
  margin: 0px 0px 0px 10px;
}
.wrapper {
  position: fixed;
  z-index: 89;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-modal-primary);
  opacity: 0.5;
}

.container {
  position: fixed;
  z-index: 90;
  top: calc(20% - 10px);
  transform: translateY(-50%);
  margin: auto;
  left: 50%;
  max-height: calc(100vh - 20%);
  transform: translateX(-50%);
  border-radius: 20px;
  background: var(--color-background-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  .title {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: var(--color-background-secondary);
    display: flex;

    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .titleText {
      color: var(--color-text-secondary);
      font-size: 30px;
      padding: 7px 30px;
      text-align: center;
    }
    .buttonWrapper {
      width: 100%;
      .buttonClose {
        float: right;
        position: absolute;
        right: 0;
        top: 0;
        color: var(--color-text-secondary);
        margin: 15px 15px 0px 0px;
        width: 20px;
        height: 20px;
        background: unset;
        .iconClose {
          font-size: 24px;
        }
      }
    }
  }
  .contentWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: overlay;
    .group {
      margin: 30px 0px 0px 0px;
      .personalInfo {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 21px;
        /* identical to box height */

        color: #10aa98;
      }
      .infoRow {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 0px;
        .infoRowCol1 {
          flex: 1;
        }
        .infoRowCol2 {
          flex: 1;
        }
      }
    }
    .resultTitle {
      color: #e42626;
    }
  }

  .end {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    .endButtonWrapper {
      margin: 0px 2% 2% 0px;
      .cancel {
        background: var(--color-button-secondary);
        color: var(--color-text-secondary);
        @extend %button;
      }
      .accept {
        background: var(--color-button-primary);
        color: var(--color-text-secondary);
        @extend %button;
      }
    }
  }
}
