@use '../../Style/globalType/function' as function;
$borderRadius: 10px;
$paddingGap: 13px;
$borderRadiusItem: 7px;
$width: 120px;

@mixin title {
  padding: 20px 40px 10px 40px;
  font-size: 15px;
  font-weight: bold;
}

