@use '../../mixin.scss' as mixin;
@import '../../../variable.scss';

.container {
  .targetWrapper {
    display: flex;
    align-items: center;
    .target {
      @include mixin.title;
    }
    .string {
    }
  }

  .colorPicker {
    display: flex;
    justify-content: center;
    margin: 5px 0px 0px 0px;
  }
}
