:root {
  --theme-primary: linear-gradient(54deg, #f1f8f9 17%, #ecf6fe 46%, #f4faff 80%);

  --header-height: 60px;
  --footer-height: 30px;
  --color-theme-primary: #ffffff;

  --color-text-primary: rgb(24, 23, 23);
  --color-text-secondary: #ffffff;
  --color-text-tertiary: #ff7a1a;

  --color-text-active: #0259fa !important;

  --color-background-primary: #e3e3e3;
  --color-background-secondary: #10aa98;

  --color-background-blur: rgba(9, 9, 9, 0.9);
  --color-background-tertiary: #ff7a1a;

  --color-button-primary: #ff7a1a;
  --color-button-secondary: #02b2c5;
  --color-button-tertiary: rgba(232, 35, 28, 0.667);
  --theme-lineheight-primary: 1.5;

  --color-modal-primary: gray;

  --font-family-primary: Open Sans, sans-serif;
  --color-border: #b2b2b25b;

  --box-shadown-primary: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%),
    0 0.125rem 0.1875rem rgb(4 9 20 / 3%);

  --border-primary: 1px solid rgba(26, 54, 126, 0.125);


}
