:root {
  --theme-primary: linear-gradient(54deg,#07b2c6 17%,#ecf6fe 46%,#f4faff 80%);
  
  --header-height: 60px;
  --footer-height: 30px;

  --color-text-primary: #000;
  --color-text-secondary: #ffffff;
  --color-text-active: #0259fa!important;
  --color-background-primary: #ffffff;
  --color-background-blur: rgba(9,9,9,.9);
  --color-background-tertiary: #ff7a1a;
  --theme-lineheight-primary: 1.5;

  --font-family-primary: Open Sans,sans-serif;
}

