:root {
  --theme-primary: linear-gradient(54deg, #f1f8f9 17%, #ecf6fe 46%, #f4faff 80%);

  --header-height: 60px;
  --footer-height: 30px;
  --color-theme-primary: #ffffff;

  --color-text-primary: rgb(24, 23, 23);
  --color-text-secondary: #ffffff;
  --color-text-active: #0259fa !important;
  
  --color-background-primary: #e3e3e3;
  --color-background-secondary: #10aa98;

  --color-background-blur: rgba(9, 9, 9, 0.9);
  --color-background-tertiary: #ff7a1a;

  --color-button-primary: #ff7a1a;
  --color-button-secondary: #D9D9D9;
  --theme-lineheight-primary: 1.5;

  --color-modal-primary: gray;

  --font-family-primary: Open Sans, sans-serif;
}
