@use '../../../Style/abtracts/mixins' as mixin;
@use '../../../Style/globalType/function' as function;

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 300px;
  background: inherit;
  color: var(--color-text-grey);
  border-right: 1px solid var(--color-border);
  height: 100%;
  padding: 20px 20px;
  .topWrapper {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    img {
      width: 40px;
      aspect-ratio: 1/1;
      flex-shrink: 0;
      border-radius: 100%;
      object-fit: cover;
    }
    .titleWrapper {
      .title {
        font-weight: bold;
      }
      .text {
        font-weight: 500;
        font-size: 15px;
      }
    }
  }
  .tableWrapper {
    padding: 20px 0px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    .tab {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 7px 10px;
      border-radius: 7px;

      i {
        font-size: 25px;
        @include function.textGradient;
        background: var(--color-button-secondary);
      }
      a {
        font-weight: 550;
      }
    }
    .active {
      background: var(--color-button-secondary);
      i {
        background: var(--color-background-primary);
      }
      a {
        color: var(--color-background-primary);
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-border);
    }

    .tab {
      &:hover {
        background: var(--color-hover-primary);
      }
    }
    .active {
      &:hover {
        background: var(--color-button-secondary);
        i {
          background: var(--color-background-primary);
        }
        a {
          color: var(--color-background-primary);
        }
      }
    }
  }
}
